:root{
    --input-color: #F2F2F2;
    --btn-color: #C5C5C5;
}
    
body{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-color);
    font-family: "Inter";
    
}
.header{
    width: 400px;
    position: relative;
    margin: 100px 0;
}
.title{
    font-size: 96px;
    font-weight: Medium;
    margin: 0;
    padding: 0;
}
.title2{
    margin: 0;
    padding: 0;
    position: absolute;
    right: -150px;
    font-size: 16px;
    font-weight: 500;
    color: var(--btn-color);

}
.nameofcity{
    width: 335px;
    height: 75px;
    border: none;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.send{
    width: 110px;
    height: 75px;
    background-color: #C5C5C5;
    border: none;
}




.weatheranswer{
    margin: 100px;
    width: 400px;
    color: white;
    background-color: rgb(173, 173, 173);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}