:root{
    --basic-color: white;
}
    
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-color);
    font-family: Arial;
}
.btninp{
    margin-top: 500px;
}
.btninp input,button{
    height: 50px;
    border-radius: 100px;
}
.btninp button{
    width: 100px;
}
button{
    cursor: pointer;
    border: none;
}
.weatheranswer{
    margin: 100px;
    width: 400px;
    color: white;
    background-color: rgb(173, 173, 173);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}